---
title: Mitch Malone - Digital Product Designer
---
<div class="main-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>
          Mitch Malone
        </h1>
        <p>
          digital product designer
        </p>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="container">
    <div class="row mb12">
      <div class="col-8">
        <h2>Hi! I’m Mitch.</h2>
        <p class="lead">
          I’m a digital product designer in Orange County, CA. I like calm technology,
          a strong sense of purpose, and shipping great products. I’m a design generalist so I have a
          pretty broad set of skills: interaction design, visual design, rapid prototyping, user research,
          and front-end engineering. Outside of work, I like video games, reading sci-fi, more nerdy stuff,
          and spending time with my family.
        </p>
        <p>
          Right now, I'm a product designer at
          <a href="">Sharethrough</a>. We help publishers make money with native advertising&mdash;a way better
          way to monetize on the web. Sometimes I write about design on
           <a href="">Medium</a> and tweet stuff on <a href="">Twitter</a>.
        </p>

      </div>
      <div class="col-2 col-offset-2">
        <div class="card">
          <%= image_tag "profile2.jpg", :class => "profile" %>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ol class="work mt6">
          <li>
            <a href="sharethrough">
              <div class="row">
                <div class="col-4">
                  <h4>Sharethrough</h4>
                  <p>
                    The native advertising platform for modern publishers.
                  </p>
                  <button href="">View Work</button>
                </div>
                <div class="col-8">
                  <div class="work-preview">
                    <%= image_tag 'programmatic-1.png' %>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="kareo">
              <div class="row">
                <div class="col-4">
                  <h4>Kareo</h4>
                  <p>
                    A complete suite of products for the small medical practice.
                  </p>
                  <button>View Work</button>
                </div>
                <div class="col-8">
                  <div class="work-preview">
                    <%= image_tag 'portal.jpg' %>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="flex-center">
          <div class="flex-column">
            Made by hand by
            <h4>Mitch Malone</h4>
            Thanks for stopping by.
          </div>
          <div class="links">
            <a href="mailto:mitch@mitchmaloneonline.com" class="mr1">Say Hi</a>
            <a href="https://twitter.com/TheSocialMitch" class="mr1">Twitter</a>
            <a href="https://www.instagram.com/thesocialmitch/" class="mr1">Instagram</a>
            <a href="https://medium.com/@thesocialmitch">Medium</a>
          </div>
        </div>


      </div>
    </div>
  </div>
</footer>
